/*Schrijf hier jouw css voor jouw formulier*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oleo+Script+Swash+Caps:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*<---------------> Fonts <--------------->*/



/*<---------------> Form <--------------->*/

legend {
    font-weight: 500;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 2px lightgray solid;
}

textarea {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid lightgray;
    /*margin-top: 5px;*/
    width: 100%;
    max-width: 400px;  /* keeps it from getting too wide */
    height: 100px;
    resize: none;
}

fieldset {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 2px lightgray solid;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

label {
    display: block;
}

/*<---------------> Button <--------------->*/

button {
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
}